body{
    height: 200vh;
}

#suramadu{
    width: 70%;
    height: 400px;
    box-shadow: 1px 1px 1px 3px solid gray;
    margin-left: 10px;
}

#nama-foto{
    position: absolute;
    top:240px;
    color: white;
    left: 450px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.beranda{
    margin: auto;
    position: relative;
    left: 50px;
}

#card{
    position: relative;
    top: 50px;
    left: 300px;
    width: 800px;
    border: none;
}

.tombol-desa:hover{
    background-color: rgb(75, 75, 245);
    transition:  0.3s;
}

.tombol-desa{
    border: none;
    color: white;
    background-color: rgb(112, 112, 245);
    padding: 6px;
    border-radius:5px ;
    width: 100px;
}

.card-text{
    width: 600px;
}