.social-icon{
    font-size: 30px;
    color: #fff;
    border: 1px solid lightgrey;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 35px;
}
