#semua-item {
    margin-left: 300px;
}

#desa {
    position: relative;
    top: -10px;
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(154, 181, 221);
}

#logo-ri {
    margin-left: 80px;
}

#rdr {
    position: relative;
    left: -38px;
    top: 5px;
    color: gray;
    font-size: 13px;
}

@media screen and (max-width:576px) {
    #desa {
        position: relative;
        left: -40px;
    }

    #logo-ri{
        position: relative;
        left: -40px;
    }

    #rdr {
        position: relative;
        left: -78px;
    }

    .nav-item{
        transition: 1s;
    }

    .dropdown-item:hover {
        color: white;
        background-color: rgb(154, 181, 221);
    }

    a:hover{
        background-color: rgb(154, 181, 221);
    }
}